.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.i{
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row2{
    display: flex;
    flex-direction: row;
}

.boxes{
    display: flex;
    flex-direction: column;
}

.smallboxes{
    display: flex;
    flex-direction: row;
}

.header{
    height: 100px;
    width: 800px;
    background: linear-gradient(135deg , rgb(123, 69, 248,1) ,rgb(123, 69, 248,0.7));
}

.navbar{
    height: 500px;
    width: 200px;
    background: linear-gradient(45deg , rgb(17, 139, 123,1) , rgb(4, 252, 169,0.6));
}

.content1{
    height: 250px;
    width: 600px;
    background: linear-gradient(135deg ,rgb(123, 69, 248),rgb(7, 133, 236),cyan);
}

.content2{
    height: 250px;
    width: 300px;
    background: linear-gradient(135deg ,rgb(123, 69, 248),rgb(7, 133, 236),cyan);
}

.content3{
    height: 250px;
    width: 300px;
    background: linear-gradient(135deg ,rgb(123, 69, 248),rgb(7, 133, 236),cyan);
}

.footer{
    height: 100px;
    width: 800px;
    background: linear-gradient(135deg , rgb(123, 69, 248,1) ,rgb(123, 69, 248,0.7));
}